<h2>My Fav Links</h2>

<table>
  <tr>
    <th>Name</th>
    <th>Link</th>
  </tr>

  <% @webpages.each do |webpage| %>
    <tr>
      <td><%= link_to webpage.name, webpage %></td>
      <td><%= webpage.link %></td>
    </tr>
  <% end %>


</table>

<br />
<br />

<%= link_to "New Link", new_webpage_path %>
